<nav>
  <div class="site-title">
    <a href="/"><h1>Story Time</h1></a>
    <p>Browse your favourite stories</p>
  </div>
  <ul>
    <li><a href="/">Story</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
