<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>This is about us page for story time.</p>
      <p>Story Time is a node based serve side rendered web application for creating, viewing and deleting a story.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
